In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [1]:

import pandas as pd
import numpy as np

**Importing the dataset**

In [2]:
data=pd.read_csv("Social_Network_Ads.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
data=data.drop("User ID",axis=1)

In [5]:
data.Gender=data.Gender.map({"Male":1,"Female":0})

In [7]:
data.describe()

           Gender         Age  EstimatedSalary   Purchased
count  400.000000  400.000000       400.000000  400.000000
mean     0.490000   37.655000     69742.500000    0.357500
std      0.500526   10.482877     34096.960282    0.479864
min      0.000000   18.000000     15000.000000    0.000000
25%      0.000000   29.750000     43000.000000    0.000000
50%      0.000000   37.000000     70000.000000    0.000000
75%      1.000000   46.000000     88000.000000    1.000000
max      1.000000   60.000000    150000.000000    1.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    int64
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
dtypes: int64(4)
memory usage: 12.6 KB

In [9]:
data.isnull().sum()

Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [10]:
data

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [19]:
data.dtypes

Gender             int64
Age                int64
EstimatedSalary    int64
Purchased          int64
dtype: object

In [11]:
data=data.drop_duplicates()

In [12]:
data.columns

Index(['Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

**Splitting the dataset into the Training set and Test set**

In [13]:
x=data[['Gender', 'Age', 'EstimatedSalary']].values
y=data['Purchased'].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

**Feature Scaling**

In [14]:
from sklearn.preprocessing import StandardScaler
scaller=StandardScaler()
scaller.fit(x_train)
x_train=scaller.transform(x_train)
x_test=scaller.transform(x_test)

**Fitting K-NN to the Training set**

In [34]:
from sklearn.neighbors import KNeighborsClassifier
for k in [1,2,3,4,5,6,7,8,9,10,20,40,80]:
    knn=KNeighborsClassifier(3)
    knn.fit(x_train,y_train)
    print("K value : ", k, " train score : ", knn.score(x,y) , " test score : ", cross_val_score(knn,x,y,cv = 10, scoring = 'accuracy').mean())

K value :  1  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  2  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  3  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  4  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  5  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  6  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  7  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  8  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  9  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  10  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  20  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  40  train score :  0.3684210526315789  test score :  0.7868421052631579
K value :  80  train score :  0.3684210526315789  test score :  0.7868421052631579

In [32]:
from sklearn.neighbors import KNeighborsClassifier
from mlxtend.plotting import plot_decision_regions
from sklearn.model_selection import cross_val_score

**Predicting the Test set results**

In [21]:
knn.predict(x_test)

array([0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 0])

In [22]:
acc=accuracy_score(y_test,knn.predict(x_test))
acc

0.881578947368421

**Making the Confusion Matrix**

In [23]:
from sklearn.metrics import confusion_matrix,accuracy_score
confusion=confusion_matrix(y_test,knn.predict(x_test))
print(confusion)

[[46  3]
 [ 6 21]]