In [16]:
#Data.csv

**Step 1: Importing the libraries**

In [17]:
import numpy as np
import pandas as pd

**Step 2: Importing dataset**

In [18]:
df=pd.read_csv("Data.csv")

In [19]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [20]:
df.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [21]:
df.Age.values[0]

44.0

In [22]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [23]:
df['Country'].value_counts()

France     4
Spain      3
Germany    3
Name: Country, dtype: int64

In [24]:
df=df.fillna(df.median())

<ipython-input-24-9e12931c0675>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df=df.fillna(df.median())

In [25]:
df['Age'].value_counts()

38.0    2
44.0    1
27.0    1
30.0    1
40.0    1
35.0    1
48.0    1
50.0    1
37.0    1
Name: Age, dtype: int64

Step 3: Handling the missing data

In [26]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  38.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [27]:
df.Age=df.Age.astype('int64')

In [28]:
# df=df.drop_duplicates

In [29]:
df

   Country  Age   Salary Purchased
0   France   44  72000.0        No
1    Spain   27  48000.0       Yes
2  Germany   30  54000.0        No
3    Spain   38  61000.0        No
4  Germany   40  61000.0       Yes
5   France   35  58000.0       Yes
6    Spain   38  52000.0        No
7   France   48  79000.0       Yes
8  Germany   50  83000.0        No
9   France   37  67000.0       Yes

In [30]:
df.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [31]:
df["Purchased"]=df["Purchased"].map({"Yes":1,"No":0})
df["Purchased"]

0    0
1    1
2    0
3    0
4    1
5    1
6    0
7    1
8    0
9    1
Name: Purchased, dtype: int64

In [32]:
df['Country'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [33]:
df["Country"]=df["Country"].map({'France':1, 'Spain':2, 'Germany':3})
df["Country"]

0    1
1    2
2    3
3    2
4    3
5    1
6    2
7    1
8    3
9    1
Name: Country, dtype: int64

In [34]:
df.head()

   Country  Age   Salary  Purchased
0        1   44  72000.0          0
1        2   27  48000.0          1
2        3   30  54000.0          0
3        2   38  61000.0          0
4        3   40  61000.0          1

**Step 5: Creating a dummy variable**

In [35]:
d=df['Purchased']

In [36]:
dummy=pd.get_dummies(d)

In [37]:
dummy

   0  1
0  1  0
1  0  1
2  1  0
3  1  0
4  0  1
5  0  1
6  1  0
7  0  1
8  1  0
9  0  1

In [38]:
d1=df['Country']

In [39]:
dummy1=pd.get_dummies(d1)

In [40]:
dummy1

   1  2  3
0  1  0  0
1  0  1  0
2  0  0  1
3  0  1  0
4  0  0  1
5  1  0  0
6  0  1  0
7  1  0  0
8  0  0  1
9  1  0  0

**Step 6: Splitting the datasets into training sets and Test sets**

In [41]:
x=df[['Country','Age','Salary']].values
y=df['Purchased'].values

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [43]:
x_train.shape

(8, 3)

In [44]:
y_train.shape

(8,)

In [45]:
x_test.shape

(2, 3)

In [46]:
y_test.shape

(2,)

**Step 7: Feature Scaling**

In [53]:
from sklearn import preprocessing
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns 
matplotlib.style.use('ggplot')

In [49]:
scaler = preprocessing.RobustScaler()
robust_scaled_df = scaler.fit_transform(x)
robust_scaled_df = pd.DataFrame(robust_scaled_df, columns =['Country','Age','Salary'])

In [50]:
robust_scaled_df

    Country       Age    Salary
0 -0.571429  0.800000  0.698413
1  0.000000 -1.466667 -0.825397
2  0.571429 -1.066667 -0.444444
3  0.000000  0.000000  0.000000
4  0.571429  0.266667  0.000000
5 -0.571429 -0.400000 -0.190476
6  0.000000  0.000000 -0.571429
7 -0.571429  1.333333  1.142857
8  0.571429  1.600000  1.396825
9 -0.571429 -0.133333  0.380952